@font-face { font-family: 'Dovemayo-Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/Dovemayo-Bold.woff') format('woff'); font-weight: normal; font-style: normal; }
/* made by lcmykr, 박설명(explain_park) */
/* Reproduction prohibited */ 

/*내용*/
@font-face {
    font-family: 'Dovemayo-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/Dovemayo-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root{
    --background-start: #fffe97;
    --background-end: #ffe449;

    --main-logo: url(https://cdn.discordapp.com/attachments/569194281219129364/1163510147340062911/logo.png);

    --nav-color-1: white;
    --nav-color-2: #ffcc85;
    --user-profile-border-color: black;
    --alert-background-color: #ffea8d;
    --alert-text-color: black;

    --left-menu-background: #ff9400;
    --left-menu-icons-color: #d3ceb8;

    --streamer-profile-border-color: #d3ceb8;
/*     
    --streamer-profile-image-url: url("https://static-cdn.jtvnw.net/jtv_user_pictures/cb892309-be0e-4b07-9666-174d145dfd5d-profile_image-300x300.png");
 */
    --board-info-bottom-border: #e2e2e2;
    --board-info-streamer-name: #75715e;
    --board-info-viewer-text: #75715ecc;
    --board-info-viewer-icon: url('https://static-cdn.jtvnw.net/badges/v1/ed16f912-378c-41ca-9208-927b8836fc72/1');
    --board-info-viewer-comment-before: " ";
    --board-info-viewer-comment-after: " 정령 접속 중!";
    --board-info-link-hover-color: black;
    --board-info-bookmark-color: #75715e;

    --category-home-icon-color: #d3ceb8;

    --article-row-hover-line-color: #ff0000;
    --notice-row-hover-line-color: #ffce84;
    --hot-row-hover-line-color: #ff7b6f;
    --notice-row-background-color: #ffe7c2;
    --notice-row-info-icon-color: #d3ceb8;
    --article-hot-row-color: #e7f8ff;
    --hot-star-icon-color: #ffa3a7;
/* 
    --streamer-up-heart-content: url(https://archive.ph/nx1Df/5bc21358f013f7a65906c4b4d107d0bdc0f6487a.gif);
     */
    --article-list-recommend-count-background-color: #ffea8d;
    --article-list-recommend-count-color: #4a442a;

    --article-inside-header-border-top: #ffebcb;
    --article-inside-header-background: #ffebcb;

    --article-reply-count-color: #75715e;
    --article-reply-header-background: #f7f7f7;
    --article-reply-header-nickname-color: #75715e;

    --article-next-prev-color: #ff5208; /* 게시글 윗글 / 아랫글 색상 */

    --pagination-text-color: #75715e;
    --pagination-now-text-color: white;
    --pagination-now-background-color: #ff9400;

    --new-article-button-background: #ff8300;
    --new-article-button-border: #ffebcb;
    --new-article-button-text-color: white;
    --new-article-button-background-hover: #ff8300;
    --new-article-button-border-hover: transparent;
    --new-article-button-text-color-hover: white;

    --best-article-button-border: #efc839;
    --best-article-button-text-color: #efc839;
    --best-article-button-background: white;
    --best-article-button-border-hover: #efc839;
    --best-article-button-text-color-hover: white;
    --best-article-button-background-hover: #efc839;

    --footer-color: #0e1a3f;
    --move-to-top-image: url("https://archive.ph/nx1Df/1ec4ccc308279a2a5604092efc1978ee06ec52e0.png");
}

/* 
.fa-heart:before {
    content: var(--streamer-up-heart-content);
    position: relative;
    top: -2px;
    display: inline-block;
} */

html,
body,
table,
div,
p {
    font-family: 'Dovemayo-Bold';
}

/*광고*/
header #header-bar #header-menu-left,
header #header-bar #header-menu-right {
    border: 0px;
}

header #header-bar #header-top-notice strong.notice-badge {
    display: none;
}

html,
body {
    background: linear-gradient(var(--background-start), var(--background-end));
    height: auto;
}

body {
    background: transparent;
    height: auto;
    background-image: url('https://cdn.discordapp.com/attachments/569194281219129364/1163520598966796378/snow01.png'), 
        url('https://cdn.discordapp.com/attachments/569194281219129364/1163519663146279032/snow02.png'), 
        url('https://cdn.discordapp.com/attachments/569194281219129364/1163520599335899257/snow03.png');
    -webkit-animation: snow 10s linear infinite;
    -moz-animation: snow 10s linear infinite;
    -ms-animation: snow 10s linear infinite;
    animation: snow 10s linear infinite;
}

header .row > div:nth-child(1) > a {
    display: block;
    height: 50px;
    background: var(--main-logo) no-repeat;
    position: relative;
    top: 10px;
    width: 145px;
    height: 50px;
    background-size: auto 50px;
    /* 양게더 로고 애니메이션 */
    -webkit-animation: bounceInTop 4s;
    animation: bounceInTop 4s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

@-webkit-keyframes bounceInTop {
    0% {
        -webkit-transform: rotate(2deg);
    }

    25% {
        -webkit-transform: rotate(-2deg);
    }

    50% {
        -webkit-transform: rotate(2deg);
    }

    75% {
        -webkit-transform: rotate(-2deg);
    }

    100% {
        -webkit-transform: rotate(2deg);
    }
}

@keyframes bounceInTop {
    0% {
        transform: rotate(2deg);
    }

    25% {
        transform: rotate(-2deg);
    }

    50% {
        transform: rotate(2deg);
    }

    75% {
        transform: rotate(-2deg);
    }

    100% {
        transform: rotate(2deg);
    }
}

/*기본 로고 숨김*/
header .row > div:nth-child(1) > a img {
    display: none;
}


#main .menu-wrapper .spacer {
    background: #ff0000;
    height: 0.15em;
}
/* 로고밑 NAV bar */
header #header-bar > .row {
    border: 3px solid var(--nav-color-2) !important;
    background-color: var(--nav-color-1);
    border-radius: 20px;
}

/* 검색폼 보더 */
header #right-search-form > input[type='text'] {
    border: 2px solid #fff;
    border-radius: 13px;
}

/* 헤더 검색 버튼 */
header #right-search-form > #right-search-btn {
    color: #a6a291;
}

/* 유저 프로필 이미지 원형화 */
header #header-bar #header-menu-right #userDropdown img.profile-img {
    border-radius: 50%;
    border: 2px dashed var(--user-profile-border-color);
}

/* 알림 뱃지 색상 */
header #header-bar #header-menu-right #userDropdown #notification-badge {
    background: var(--alert-background-color);
    color: var(--alert-text-color);
}

/* 트게더 전체메뉴 / 유용한링크 / 트위치 스케쥴 */
#main .menu-wrapper {
    border-radius: 10px 10px 0 0;
}
#main .menu-wrapper > .header {
    background: var(--left-menu-background);
    border: 3px solid var(--left-menu-background) !important;
    border-radius: 10px 10px 0 0;
}

/* 아래 빈 줄 삭제 */
element.style {
    display: none;
}

#main .menu-wrapper a:nth-last-child(1) {
    border-radius: 0px 0px 15px 15px;
}

#main .menu-wrapper {
    border-bottom: none;
    border-right: none;
}

.fa-navicon:before,
.fa-reorder:before {
    color: var(--left-menu-icons-color);
}

#main .menu-wrapper > a > em,
#main .menu-wrapper > a > i.fa.fa-square {
    color: var(--left-menu-icons-color);
}

/* 메인 글 테두리 색상 */
#main #main-content > div.frame {
    border-radius: 10px;
}

/*프로필*/
#board-info {
    height: auto;
}

#board-info #board-info-profile-img {
    width: 6.5em;
    background: none;
    border: 2px dashed var(--streamer-profile-border-color);
    border-radius: 50%;
    float: left !important;
    position: relative;
    top: 1px;
    left: -5px;
    content: var(--streamer-profile-image-url);
}

#board-info h1 {
    padding-top: 18px;
    padding-bottom: 4px;
    border-bottom: 2px dashed var(--board-info-bottom-border);
}

#board-info h1 > a {
    color: var(--board-info-streamer-name);
}

#board-info #viewers-area {
    color: var(--board-info-viewer-text);
}

#board-info #viewers-area .fa-user:before {
    content: var(--board-info-viewer-icon);
    font-size: 16px;
    position: relative;
    top: 5px;
    cursor: text;
    height: 15px !important;
    width: 15px !important;
}

#board-info #viewers-area #viewers:before {
    content: var(--board-info-viewer-comment-before);
    cursor: text;
}

#board-info #viewers-area #viewers:after {
    content: var(--board-info-viewer-comment-after);
    cursor: text;
}

/* 스트리머 이름 호버 색상 변경 */
#board-info h1 > a:hover,
#board-info h1 > a:focus {
    color: var(--randomColor);
    transition: 0.2s;
}

/* board-info 버튼 호버 이펙트 */
#board-info > #board-info-bottom > a{
    transition: 150ms;
}
#board-info > #board-info-bottom > :hover {
    transform: scale(1.05);
    color: var(--board-info-link-hover-color);
    text-decoration: underline;
}

/*즐찾,소개,채널,클립*/
#board-info #board-info-bottom {
    padding-top: 6px;
}

#board-info #board-info-bottom a {
    color: var(--board-info-bookmark-color);
}

/* 카테고리 색상 변화 */
#article-list #article-list-category {
    background: transparent;
    border: none;
    margin-top: 2px;
    margin-bottom: 2px;
}

#article-list #article-list-category > a {
    background: transparent;
    position: relative;
    padding: 9px 15.7px;
    /* 카테고리 선택자 사이 여백 조정 */
}

#article-list #article-list-category > a::before {
    top: 0;
}

#article-list #article-list-category > a::after {
    bottom: 0;
}

#article-list #article-list-category > a::before,
#article-list #article-list-category > a::after {
    height: 2px;
    width: 100%;
    background: currentColor;
    content: "";
    position: absolute;
    left: 0px;
    transform: scaleX(0);
    transition: 0.3s;
}

#article-list #article-list-category > a:hover::before,
#article-list #article-list-category > a:hover::after {
    transform: scaleX(1);
}

/*메인메뉴*/
#article-list {
    padding: 0 1em 2em;
}

#article-list #article-list-category {
    border-top: none;
    background: #fff;
    border: 2px dashed #f0ebd6;
    border-radius: 20px;
    margin-bottom: 10px;
}

#article-list #article-list-category > a.active,
#article-list #article-list-category > a:hover,
#article-list #article-list-category > a {
    background: none;
}

.fa-home {
    color: var(--category-home-icon-color);
}

#article-list #article-option-area > #article-option-area-toggle-btn {
    position: absolute;
    right: 14px;
    top: 2px;
    border-radius: 10px;
    background: none;
}

/* 게시글 */
#article-list > .article-list-row {
    background: transparent;
    border: none;
    margin-top: -2px;
    margin-bottom: -2px;
}

#article-list > .article-list-row {
    background: transparent;
    position: relative;
    /*** padding: 9px 15.7px; ***/
    /* 카테고리 선택자 사이 여백 조정 */
}

#article-list > .article-list-row :after {
    bottom: 0;
}

#article-list > .article-list-row:not(.notice, .hot):after {
    height: 2px;
    width: 100%;
    background: var(--article-row-hover-line-color);
    content: "";
    position: absolute;
    left: 0px;
    transform: scaleX(0);
    transition: 0.3s;
}

#article-list > .article-list-row:has(a:hover)::after {
    transform: scaleX(1);
}

/* 읽은 글 색상 변경 */
#article-list > .article-list-row > .item > .list-title > a:visited {
    color: grey !important;
}

/*공지사항*/
#article-list > .article-list-row.notice {
    background-color: var(--notice-row-background-color);
    border-radius: 10px;
    margin-bottom: 2px;
}

#article-list > .article-list-row.notice:hover {
    background-color: var(--notice-row-hover-line-color);
    transition: 0.3s ease-in-out;
}

#article-list > .article-list-row > .item > .list-checkbox,
#article-list > .article-list-row > .item > .list-header,
#article-list > .article-list-row > .item > .list-category,
#article-list > .article-list-row > .item > .list-title,
#article-list > .article-list-row > .item > .list-blocked,
#article-list > .article-list-row > .item > .list-time {
    border-bottom: none;
}

span.a-badge i.fa.fa-info-circle {
    color: var(--notice-row-info-icon-color);
}

/*인기글*/
#article-list > .article-list-row.hot {
    background-color: var(--article-hot-row-color);
    border-radius: 10px;
}

#article-list > .article-list-row.hot:hover {
    background-color: var(--hot-row-hover-line-color);
    transition: 0.3s ease-in-out;
}

span.a-badge i.fa.fa-star {
    color: var(--hot-star-icon-color);
    animation: animationFrames ease-in-out 2s infinite;
    -webkit-animation: animationFrames ease-in-out 2s infinite;
    -moz-animation: animationFrames ease-in-out 2s infinite;
    -o-animation: animationFrames ease-in-out 2s infinite;
    -ms-animation: animationFrames ease-in-out 2s infinite;
}


/*기본글*/
#article-list > .article-list-row {
    border: none;
}

#article-list > .article-list-row > .item > .list-title > .list-category {
    border: none;
}

#article-list > .article-list-row > .item > .list-title > .list-writer.logged > span {
    color: #75715e;
}

/* 추천수 색깔 */
#article-list > .article-list-row > .item > .list-header > span {
    background-color: var(--article-list-recommend-count-background-color);
    color: var(--article-list-recommend-count-color);
    padding: 3px 5px 3px 5px;
    border-radius: 50%;
}

#article-list > .article-list-row > .item > .list-title > small.comment-count {
    color: var(--article-list-recommend-count-color);
}

/* 글 안*/
#article-content-wrapper > .header {
    border-top: var(--article-inside-header-border-top);
    background: var(--article-inside-header-background);
}

#article-reply-area > .header h5 {
    color: var(--article-reply-count-color);
}
#article-reply-area #reply-real-area .reply>.reply-header, #article-reply-area #reply-best-area .reply>.reply-header{
    background: var(--article-reply-header-background);
}

#article-reply-area #reply-real-area .reply > .reply-header > .reply-writer.logged,
#article-reply-area #reply-best-area .reply > .reply-header > .reply-writer.logged {
    color: var(--article-reply-header-nickname-color);
}

.fr-toolbar {
    border-color: var(--article-row-hover-line-color);
    color: #d3ceb8;
    background: #fff;
}

/*글쓰기 라디오스*/
#article-list #article-list-menu > .btn.write {
    border-radius: 10px;
}

/*윗글아랫글 색상*/
#article-neighbor-list {
    color: var(--article-next-prev-color);
}

#article-list #article-list-menu > .btn.best {
    border-radius: 10px;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: var(--pagination-now-background-color);
    border-color: var(--pagination-now-background-color);
    border-radius: 2px;
}

.pagination > li > a,
.pagination > li > span,
.pagination > li > a,
.pagination > li > span:hover {
    color: var(--pagination-text-color);
}

/* 글쓰기 버튼 색상 */
#article-list #article-list-menu > .btn.write {
    transition: 250ms;
    background-color: var(--new-article-button-background);
    border-color: var(--new-article-button-border);
    color: var(--new-article-button-text-color);
    border-radius: 10px;
}

#article-list #article-list-menu > .btn.write:hover {
    color: var(--new-article-button-text-color-hover);
    background-color: var(--new-article-button-background-hover);
    border-color: var(--new-article-button-border-hover);
}

#article-list #article-list-menu > .btn.cog {
    border-radius: 10px;
}

#article-list #article-list-menu > .btn.del {
    border-radius: 10px;
}

/* 인기글 버튼 색상 */
#article-list #article-list-menu > .btn.best {
    transition: 250ms;
    border-radius: 10px;
    background-color: var(--best-article-button-background);
    color: var(--best-article-button-text-color);
    border-color: var(--best-article-button-border);
}
#article-list #article-list-menu > .btn.best:hover {
    border-radius: 10px;
    background-color: var(--best-article-button-background-hover);
    color: var(--best-article-button-text-color-hover);
    border-color: var(--best-article-button-border-hover);
}

/* footer */
footer,
a {
    color: var(--footer-color);
}

#article-list > .article-list-row {
    border-right: none;
}

#article-list #article-list-menu {
    box-sizing: border-box;
    width: unset;
    margin: 20px;
}

#article-list #boardSearchForm {
    padding-bottom: 20px;
    height: unset;
}

/* 위로 */
#movetotop img {
    display: none
}

#movetotop {
    display: inline-block;
    opacity: 1;
    background: var(--move-to-top-image);
    width: 150px;
    height: 167px;
    background-size: contain;
}

.btn {
    transition:  150ms;
}
label:has(input[type=checkbox]){
    transition: 250ms;
    padding-left: .5rem;
}
label:has(input[type=checkbox]):hover {
    cursor: pointer;
    background-color: lightgray;
}

/* 모든 항목 focus시 아웃라인 제거 */
*:focus {
    outline: none !important;
}

/*애니메이션*/
@keyframes animationFrames {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes animationFrames {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes animationFrames {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes animationFrames {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes animationFrames {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/* 눈 내리는 효과 설정 CSS 파일 맨 아래에 추가*/
@keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }

    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
    }
}

@-moz-keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }

    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
    }
}

@-webkit-keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }

    50% {}

    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
    }
}

@-ms-keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }

    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
    }
}
